<div class="menu-bar__item">
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/pedrouchoa7" target="_blank">
        <img 
        src="assets/linkedin.jpg.png" 
        alt="LinkedIn"
        srcset=""
        width="32px"
        height="32px">
      </a>
    </li>
    <li>
      <a href="https://github.com/pedrouchoa7" target="_blank">
        <img 
        src="assets/github.jpg.png" 
        alt="Gitbub"
        srcset=""
        width="32px"
        height="32px">
      </a>
    </li>
  </ul>
</div>
